[Unit]
Description=Kageki Storage Cleanup Timer
Requires=kageki-storage.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
AccuracySec=1min

[Install]
WantedBy=timers.target
